.docs-section {
	padding: 2.55rem 1rem;
	max-width: $single-max-width;
	margin: 0 auto;
	width: 100%;

	h3 {
		margin-top: -$top-header-height;
		padding-top: $top-header-height;
		color: #12103c;
		margin-bottom: .1em;
		font-size: 2.223rem;
		font-weight: 700;
		line-height: 1.2;
	}
	h4 {
		font-family: $font-family-sans;
		font-size: 1.112rem;
		font-weight: 600;
		line-height: 1.25;
		text-transform: uppercase;
	}
}

.back-to-top {
	font-size: 0.5em;
	float: right;
	padding-top: 1.2em;
}