footer[role="contentinfo"] {
	padding: 0 $guaranteed-edge-standoff;
	background-color: #333;
	padding: 65px 0;
	position: relative;

	.page-footer-content {
		padding: 0 $guaranteed-edge-standoff;
		max-width: $single-max-width;
		margin: 0 auto;
		width: 100%;
	}

	.page-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		@extend %caps-text;
		@include inline-list();
		font-family: $font-family-heading;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: .05em;
		text-transform: uppercase;
		line-height: inherit;
		display: inline-block;
		margin: 0;
		padding-right: $header-logo-large;
		text-align: right;
		li {
			a {
				color: #a5a5a5;
				&:hover {
					color: #707070;
				}
			}
		}
	}

	

	.footer-social {
		font-size: 1rem;
		padding-bottom: 0;
		display: inline-block;
		vertical-align: middle;
		padding-left: $header-logo-large;

		a {
			color: #a5a5a5;
			padding: .5em;
			font-size: 24px;

			&:hover {
				color: #fff;
			}
		}
	}
}