#page-header {
	padding: 0 $guaranteed-edge-standoff;
	border-top: 12px solid $dark-blue;
	color: $dark-blue;
	background: #fff;
	position: fixed;
	z-index: 9999;
	width: 100%;
	top: 0;

	body.admin-bar & {
		top: 46px;

		@include breakpoint($wpadminbar-narrow) {
			top: 32px;
		}
	}
	.logo-link {
		@include icon("saucal-horizontal");
		font-size: 54px;
		padding: 24px 0;
		line-height: 1;
		display: block;
		color: $dark-blue;
		&:before {
			vertical-align: top;
		}
	}

	.top-nav {
		z-index: 5; /* higher than normal so it overlays content elements */
		background-color: #fff;
		padding: 0;
		height: 0;
		flex: 1 1 auto;
		order: 999;
		width: 100%;
		margin: 0 (-$guaranteed-edge-standoff);

		body.js-mobile-expandable-is-open & {
			height: calc( 100vh - #{$top-header-height} );
			overflow-y: auto;
		}

		.js-mobile-expandable {
			display: none;

			&.is-open {
				display: block;
			}
		}

		.header-nav {
			background-color: #fff;

			@include breakpoint($breakpoint-bravo) {
				background-color: transparent;
				text-align: left;
				display: block;
			}

			.subnav li {
				margin-right: 0;
				text-align: left;
			}
		}

		@include transition(height, 150ms, linear);

		@include breakpoint($breakpoint-bravo) {
			height: auto !important;
			background-color: transparent;
			order: 0;
			width: auto;
			margin: 0;
		}
	}
}

.page-header-content {
	// @extend %grid-context;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

// handles layout and functionality for the header menus.
// styling the internal bits happens in components/header/...
.toggle-menu-icon {
	@include icon('menu');
	&:before {
		vertical-align: middle;
		margin-right: .8rem;
	}
	&:after {
		font-family: $font-family-heading;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .1em;
		text-transform: uppercase;
		content: "Menu";
	}

	body.js-mobile-expandable-is-open & {
		@include icon('close');
		&:after {
			content: "Close";
		}
	}

	&,
	&:active,
	&:focus,
	&:hover {
		color: $dark-blue;
	}

	@include breakpoint($breakpoint-bravo) {
		display: none;
	}
}

.header-nav {
	@extend %caps-text;
	color: $color-dark-text;
	line-height: inherit;
	margin: 0;
	padding: 0;

	@include breakpoint($breakpoint-bravo) {
		@include inline-list();
		display: block !important;
		padding-top: 0;
	}

	li {
		list-style-type: none;
		padding: 0;
		border-top: 1px solid #00000026;
		@include breakpoint($breakpoint-bravo) {
			border-top: none;
		}
			&:hover {
				@include breakpoint($breakpoint-bravo) {
					background-color: transparent;
				}
			}


		@include breakpoint($breakpoint-bravo) {
			padding: 0;
			margin: 0 0.3em;

			@include breakpoint($breakpoint-charlie) {
				margin: 0 0.4em;
			}
		}

		&.current-menu-item > a,
		&.current_page_parent > a {
			&:after {
				background-color: #585858;
				bottom: 7px;
				@include opacity(1);
			}

			body.home &:after {
				bottom: 7px;
				@include opacity(0);
				// border-top-color: transparent;
			}
		}
	}

	&.is-open {
		//position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

.page-header-content {
	li a,
	h1 a {
		display: block;
		padding: .8rem 0;
		font-size: 14px;
		font-weight: 400;
		color: $dark-blue;

		font-family: $font-family-heading;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .036em;
		padding: 8px 10px;
		text-transform: uppercase;

		@include breakpoint($breakpoint-bravo) {
			padding: 21px 0;
			font-size: 11px;
			position: relative;

			&:hover {
				text-decoration: none;
				&:after {
					bottom: 7px;
					@include opacity(1);
				}
			}
			&:after {
				content: "";
				width: 100%;
				height: 5px;
				background: $color-dark-text;
				position: absolute;
				bottom: 5px;
				left: 0;
				-webkit-backface-visibility: hidden;
				-moz-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				@include opacity(0);
				@include transition(all, 80ms, ease-in);
			}

			@include breakpoint($breakpoint-charlie) {
				font-size: 12px;
				font-weight: 600;
			}

		}
	}

}
