.toc {
	background-color: #efefef;

	.toc-content {
		padding: 2.55rem 1rem;
		max-width: $single-max-width;
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	header {
		width: 100%;
	}

	.col {
		word-break: break-word;
		margin: 0;
		width: 100%;

		@include breakpoint($breakpoint-bravo) {
			width: 50%;
			float: left;
			vertical-align: top;
			padding-right: 2%;

			&:nth-child(2n+1) {
				margin-right: 0;
				padding-left: 2%;
			}

			&:nth-of-type(2n+3){
				clear: left;
			}
		}

		@include breakpoint($breakpoint-charlie) {
			width: 24%;

			/** reset from breakpoint-alpha **/
			&:nth-of-type(2n+3) {
				clear: none;
			}

			&:nth-of-type(5n) {
				clear: left;
			}

		}

	}

	h2 {
		margin: 0;
		color: $dark-blue;
		margin-bottom: .1em;
		font-size: 2.223rem;
		font-weight: 700;
		line-height: 1.2;
	}

	ul {
		padding-left: 0;
		margin-top: .5em;
	}

	h3 {
		@extend %caps-text;
		margin-bottom: 0;
		font-size: 1.2em;
		font-weight: 600;
		color: #2f45ce;
		a {
			color: inherit;
		}
	}

	li {
		list-style-type: none;
		a {
			@extend %saucal-link;
		}
	}
}