<footer role="contentinfo">
	<div class="page-footer-content">
		<nav class="page-nav expanded" role="navigation" aria-label="footer-navigation">
			<ul>
				<li>Open source, MIT licensed. <br class='charlie-hide' />Copyright {{ site.time | date: '%Y' }} <a href="http://saucal.com">@saucal</a></li>
			</ul>
			<div class="footer-social social-networks">
				<a href="https://twitter.com/saucal" class="twitter" target="_blank"><span
						class="screen-reader-text">Twitter</span></a>
				<a href="https://www.facebook.com/saucal" class="facebook" target="_blank"><span
						class="screen-reader-text">Facebook</span></a>
				<a href="https://instagram.com/saucal/" class="instagram" target="_blank"><span
						class="screen-reader-text">Instagram</span></a>
				<a href="https://www.linkedin.com/company/saucal" class="linkedin" target="_blank"><span
						class="screen-reader-text">LinkedIn</span></a>
				<a href="http://github.com/saucal" class="github" target="_blank"><span
						class="screen-reader-text">Github</span></a>
			</div>
		</nav>
	</div>
</footer>
