<header id="page-header" role="banner">
	<div class="page-header-content">
		<a class="toggle-menu-icon js-mobile-expandable-toggle"></a>

		<nav class="page-nav top-nav" role="navigation" aria-label="main-navigation">
			<ul class="header-nav nav-dropdowns js-mobile-expandable">
				{% assign pages_list = site.pages | sort: "weight" %}
				{% assign group = 'navigation' %}
				{% include Util/pages_list %}
			</ul>
		</nav>

		<a href="{{ site.baseurl }}/" class="logo-link"><span class="screen-reader-text">SAU/CAL</span></a>
	</div>
</header>

<header class="template-header header-{{ page.page }}">
	<div class="grid-inner">
		<h1>
			{% if page.page == "introduction" %}
				Best Practices
			{% else %}
				{{ page.title }}
			{% endif %}
		</h1>
		{% if page.page == "introduction" %}
			<h3 class="subhead">SAU/CAL Engineering</span>
		{% endif %}
	</div>
</header>
