.template-header {
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: $top-header-height;

  background-color: #2f45ce;
  background-image: repeating-linear-gradient(-45deg,#3333 0,#3333 5%,#0000 0,#0000 50%);
  background-size: 8px 8px;

  h1 {
    color: $default-light-color;
    font-size: 2.223rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: .1em;
  }
  h3.subhead {
    font-family: $font-family-sans;
    color: $default-light-color;
    font-size: 1.112rem;
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
    margin: 0;
  }

  .grid-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    @include breakpoint($breakpoint-bravo) {
      height: 14rem;
    }
  }
}

.header-vvv-saucal {
	background-color: #ffcc2b;
	h1 {
		color: $dark-blue;
	}
}