* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 18px;
}

body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $color-text-default;
	background-color: $color-background-color-default;
	font-family: $font-family-sans;
}

::selection {
	background: $party-blue; /* Webkit */
	color:white;
}
	
::-moz-selection {
	background: $party-blue; /* Firefox */
	color:white;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $color-text-default;
	transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s,-webkit-box-shadow .15s;

	&:hover,
	&:active {
		color: desaturate($color-text-default, 10%);
	}
}

p a {
	position: relative;
	box-shadow: inset 0 -0.056em 0 0 #12103c;
	padding-left: 1px;
	padding-right: 1px;
	&:hover,
	&:active {
		color: #fff;
		-webkit-box-shadow: inset 0 -2em 0 0 #000;
		box-shadow: inset 0 -2em 0 0 #000;
	}
}

// otherwise it's too wonky with our static header on mobile
body #wpadminbar {
  position: fixed;
}

// Reusable, toolbox kind of class
.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.interface-checkbox {
	display: none;
	speak: none;
}

// .template-header {
// 	padding-top: 4rem;
// 	padding-bottom: 4rem;
// 	text-align: center;

// 	@include breakpoint($breakpoint-alpha) {
// 		padding-bottom: 11.5rem;
// 		padding-top: 14rem;
// 	}

// 	h1,
// 	.subhead {
// 		margin-top: 0;
// 	}

// 	*:last-child {
// 		margin-bottom: 0;
// 	}

// 	.wp-post-image {
// 		margin-top:3rem;

// 		@include breakpoint($breakpoint-alpha) {
// 			margin-top:8rem;
// 		}
// 	}
// }