@font-face {
	font-family: saucal;
	src: url('fonts/saucal.eot');
	src: url('fonts/saucal.eot?#iefix') format('embedded-opentype'), url('fonts/saucal.ttf') format('truetype'), url('fonts/saucal.woff') format('woff'), url('fonts/saucal.svg#saucal') format('svg');
	font-weight: normal;
	font-style: normal;
}
