{% include Util/setup %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <script>
        var host = "saucal.github.io";
        if ( window.location.host === host && window.location.protocol !== "https:" ) {
            window.location.protocol = "https:";
        }
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/img/apple-touch-icon.png">

    <title>
      {{ site.name }}
    </title>

    <link rel="stylesheet" href="{{ site.baseurl }}/main.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:100,600,700,900|PT+Mono&subset=latin,cyrillic' type='text/css' media='all' />
    
    <!-- Google Analytics to go here -->
  </head>
  <body class="page-{{ page.page }} scroll-at-top">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>
